@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <h1>Where it all started</h1>
        <img src="~/Content/Images/SiteImages/workshop-1719872_1280.jpg" class="img-responsive" />
        <p>It all started in the garage of one Mr. Smith, in 1947. He started with a simple idea, "Why not make these things a little faster?". And ever since then we have done just that. </p>
    </div>
</div>