@{
    ViewBag.Title = "Home Page";
}
@* TODO - Add images *@
<div id="h">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>An <b>Elegant</b> Welcome to Wastegate Motors</h1>
                <hr class="aligncenter">
                <img src="" class="img-responsive aligncenter">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!--/H -->

<div class="container">
    <div class="row mtb">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <p></p>
            <p class="mt"><button class="btn btn-lg btn-transparent">Learn More</button></p>
        </div>
    </div>
    <!--/row -->
    <hr>
</div>
<!--/container -->

<div id="features"></div>
<div class="container">
    <div class="row mtb centered">
        <h2 class="theme mb">What we do</h2>

        <div class="col-md-4">
            <p><i class="ion-battery-charging theme x2"></i></p>
            <h4>Full Dyno Tune</h4>
            <p class="ts">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <!--/col-md-4 -->

        <div class="col-md-4">
            <p><i class="ion-beaker theme x2"></i></p>
            <h4>Custom Installations</h4>
            <p class="ts">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <!--/col-md-4 -->

        <div class="col-md-4">
            <p><i class="ion-help-buoy theme x2"></i></p>
            <h4>Lifetime Warenty</h4>
            <p class="ts">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <!--/col-md-4 -->
    </div>
    <!--/row -->

    <div class="row mtb">
        <div class="col-lg-10 col-lg-offset-1">
            <img src="img/panoramic.jpg" class="img-responsive aligncenter" alt="">
            <p class="mtb centered">There are many variations of passages of <b>Lorem Ipsum</b> available, but the majority have <b>suffered alteration</b> in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
    </div>
    <!--/row -->
</div>
<!--/container -->

<div id="info">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive aligncenter" src="img/double.png" alt="" width="350">
            </div>
            <!--/col-md-6 -->

            <div class="col-md-6">
                <p><i class="ion-arrow-right-b"></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p><i class="ion-arrow-right-b"></i>Printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p><i class="ion-arrow-right-b"></i>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p class="mt"><button class="btn btn-lg btn-white">Learn More</button></p>
            </div>

        </div>
        <!--/row -->
    </div>
</div>
<!--/info -->

<div class="container">
    <div class="row mt">
        <div class="col-lg-8 col-lg-offset-2 testimonials">
            <h2 class="theme">What Our Users Think About Us</h2>
            <!-- Carousel
                    ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="img/ui-01.jpg" class="img-circle aligncenter" width="80" alt="First slide">
                        <h3>Mark Turin</h3>
                        <p class="ts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                    <div class="item">
                        <img src="img/ui-02.jpg" class="img-circle aligncenter" width="80" alt="Second slide">
                        <h3>Sarah Schmidt</h3>
                        <p class="ts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                    <div class="item">
                        <img src="img/ui-03.jpg" width="80" class="img-circle aligncenter" alt="Third slide">
                        <h3>Phil Carsons</h3>
                        <p class="ts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
            </div>
            <!-- /.carousel -->
        </div>
        <!--/col-lg-8-->
    </div>
    <!--/row -->
</div>
<!--/container -->