@{
    ViewBag.Title = "Home Page";
}


<div id="backGround" class="container img-responsive">
    <div id="h">
        <div class="row">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1> <b>Welcome to Wastegate Motors</b> </h1>
                        <img src="~/Content/Images/SiteImages/testBackground2.jpg" class="img-responsive aligncenter">
                </div>
            </div>
        </div>
    </div>

</div>
<div id="features"></div>
<div class="container">
    <div class="row mtb centered">
        <h2 class="theme mb">What we do</h2>

        <div class="col-md-4">
            <p><i class="fa fa-line-chart"></i></p>
            <h4>Full Dyno Tune</h4>
            <p class="ts">We offer a full Dynograph tune. We have a hub dyno, and we have 4 different tuners who each specialize in different types of cars.</p>
        </div>

        <div class="col-md-4">
            <p><i class="fa fa-wrench"></i></p>
            <h4>Custom Installations</h4>
            <p class="ts">Not only do we do regular maintenance, but we also will do custom work. Anything from an exhaust kit to a turbo kit. You name it, we'll install it.</p>
        </div>

        <div class="col-md-4">
            <p><i class="fa fa-automobile"></i></p>
            <h4>Lifetime Warenty</h4>
            <p class="ts">Anything we install here at Wastegate Motors, will have a lifetime warrenty, as long as there was no funny buisness involved, or tampering with the installed equipment.</p>
        </div>
    </div>

</div>

<div class="container">
    <div class="row mt">
        <div class="col-lg-8 col-lg-offset-2 testimonials">
            <h2 class="theme">What Our Customers Think About Us</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/Images/SiteImages/christian-buehner-DItYlc26zVI-unsplashResize.jpg" class="img-circle aligncenter" width="80" alt="First slide">
                        <h3>John Doe</h3>
                        <p class="ts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/SiteImages/meritt-thomas-aoQ4DYZLE_E-unsplash.jpg" class="img-circle aligncenter" width="80" alt="Second slide">
                        <h3>Jane Doe</h3>
                        <p class="ts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/SiteImages/TF-headshot.jpg" width="80" class="img-circle aligncenter" alt="Third slide">
                        <h3>Tanner Foust</h3>
                        <p class="ts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>